.gradient-green {
  background: linear-gradient(90deg, var(--light-green) 0%, var(--deep-green) 100%);
  min-height: 10px; }

.decorate-row {
  padding-left: 10%; }

.my-icon {
  vertical-align: -webkit-baseline-middle; }

.light-shadow-bl {
  text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5); }

.light-shadow-center {
  text-shadow: 0 0 17px rgba(0, 0, 0, 0.8); }

.bg-black {
  background-color: var(--main-black) !important; }

.bg-green {
  background-color: var(--main-green) !important; }

.section-1 {
  background-image: url(../img/bg-section1.png);
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.section-2 {
  background-image: url(../img/bg-section2.png);
  background-position: right;
  background-repeat: no-repeat; }

.section-3 {
  background-image: url(../img/bg-section3.png);
  background-position: bottom left;
  background-repeat: no-repeat; }

.section-4 {
  background-image: url(../img/bg-section4.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.section-5 {
  background-image: url(../img/bg-section5.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.section-6 {
  background-image: url(../img/bg-section6.png);
  background-position: bottom right;
  background-repeat: no-repeat; }

.section-8 {
  background-image: url(../img/bg-section8.png);
  background-position-x: 150%;
  background-position-y: 23%;
  background-size: 50% !important;
  background-repeat: no-repeat; }

.product {
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  transition-duration: .5s; }

.product:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  transition-duration: .5s; }

.button-sub-section-block {
  height: 3vw; }

.br-radius {
  -webkit-border-bottom-right-radius: 60px;
  -moz-border-radius-bottomright: 60px;
  border-bottom-right-radius: 60px; }

.bg-light-white {
  background-color: #ffffffb3 !important; }

.bg-cover {
  background-size: cover;
  background-position: center; }

.card-img {
  height: -webkit-fill-available !important; }

.bg-blackout {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%; }

.text-green {
  color: var(--main-green); }

.bg-gradient-green-black {
  background: linear-gradient(90deg, var(--light-green) 0%, var(--deep-green) 100%) !important; }

.bg-gradient-black-green {
  background: linear-gradient(90deg, var(--deep-green) 0%, var(--light-green) 100%) !important; }

.all-text-break {
  word-spacing: 100vw; }

.text-break {
  white-space: initial; }

.text-high {
  line-height: 5rem;
  letter-spacing: -0.2rem; }

.bg-none {
  background: none; }

.triangle-up {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid var(--main-green);
  border-top: none;
  transition-duration: .2s; }

.btn.collapsed > .triangle-up {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition-duration: .2s; }

.br-radius-0 {
  border-radius: 0; }

.btn {
  background-color: rgba(0, 0, 0, 0); }

.btn:focus {
  box-shadow: none; }

.proseal-btn {
  padding: 1em 2em;
  border-radius: 2rem;
  border: none;
  transition: .2s; }

.proseal-btn:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  transition-duration: .2s; }

@media (max-width: 1200px) {
  .section-1 {
    height: 80vh; } }
@media (max-width: 576px) {
  .product {
    border: none;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 0; }

  .product:hover {
    border: none;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: none; } }
@media (max-width: 410px) {
  #start-label {
    font-size: 4rem; }

  #section-label {
    font-size: 2rem; } }
@media (max-width: 320px) {
  #start-label {
    font-size: 4rem; } }
@media (max-width: 280px) {
  #start-label {
    font-size: 3rem; } }

/*# sourceMappingURL=style.css.map */
